{% extends "layout.html" %}
{% block content %}
    <h1> About Unisys Inteliserve </h1>
    <h2> An intelligent workspace platform for frictionless user experiences and superior field services </h2>
    <h6> The InteliServe™ platform is powered by automation and artificial intelligence (AI), advanced analytics, machine learning,
        robotic process automation (RPA), workforce optimization and can integrate with Unisys biometric authentication. Originally launched as
        a managed service desk offering, the InteliServe™ application has now expanded to all services including field engineering services and smart
        workspaces. The platform can also extend into business operations such as human resources, finance and legal. </h6>

{% endblock content %}
